/* Basic styles for the container and text */
.animated-text2 {
  letter-spacing: 15px;
  font-size: 100px;
}

.animated-text {
  font-size: 16px;
  color: #333;
  white-space: nowrap;
  position: relative;
  display: inline-block;
}


.animated-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #e27daa, transparent);
  background-size: 200% 100%;
  background-position: -100% 0;
  animation: cursor-pan 3s linear infinite;
}


@keyframes cursor-pan {
  0% {
    background-position: -100% 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}








/* Custom styling for the select element */
.custom-select {
  background-color: #fff;
  /* white background */
  color: black;
  /* black text color */
  border-color: black;
  /* black border */
}

.custom-select:focus {
  border-color: #e27daa;
  /* pink border on focus */
  box-shadow: 0 0 0 3px rgba(226, 122, 170, 0.3);
  /* pink shadow on focus */
}

.custom-select option {
  background-color: white;
  /* white background for options */
  color: black;
  /* black text color for options */
}

.custom-select option:hover {
  background-color: #e27daa;
  /* pink background on hover */
  color: white;
  /* white text color on hover */
}


.text_shadow {
  text-shadow: 2px 2px 4px white;
}


/* .text___shadow{
  text-shadow: 2px 2px 4px gray;
}

.text____shadow{
  text-shadow: 2px 2px 2px #e27daa;
} */

.careers_shadow{
  text-shadow: 3px 3px 6px gray;
  border-bottom: 1.5px solid #e27daa;
}


.text__shadow {
  text-shadow:
    1px 1px 0 #19005e,
    2px 2px 0 #19005e,
    3px 3px 0 #19005e,
    4px 4px 0 #19005e,
    5px 5px 0 #fd0700,
    6px 6px 0 #fd0700,
    7px 7px 0 #fd0700;
}










/* Add styles for tabs and messages */

.tab-button {
  background-color: #e27daa;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 4px;
}

.tab-button.active {
  background-color: black;
}

.chat-tab {
  padding: 10px;
}

.chat-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.message-tab {
  padding: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  max-width: 60%;
}

.message.owner {
  background-color: #e27daa;
  color: white;
  margin-left: auto;
}

.message.client {
  background-color: #f0f0f0;
  color: black;
}









.text-black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}


/* Add this to your CSS file or within a <style> tag */
.dropdown-transition {
  transition: max-height 0.5s ease-out, opacity 1s ease-out;
  max-height: 0;
  overflow: hidden;
  /* opacity: 0; */
}

.dropdown-transition.open {
  max-height: fit-content;
  opacity: 1;
}


/* Add this to your CSS file or within a <style> tag */
.sidebar-transition {
  transition: width 0.3s ease-out; /* Adjust the duration and easing as needed */
  width: 26rem; /* Default width for closed state */
}

.sidebar-transition.close {
  width: 0; /* Set this to match your open state width, e.g., `w-96` */
}



.options.collapsed {
  height: 80px; /* Adjust height as needed */
  overflow: hidden;
}



/* App.css */

/* App.css */

.options-container {
  overflow: hidden; /* Ensures that overflow content is hidden */
}

/* Optional: Smooth transition for height changes */
.transition-all {
  transition: all 0.5s ease-in-out;
}

.max-h-24 {
  max-height: 6rem; /* Adjust this value as needed */
}

.max-h-screen {
  max-height: 1000px; /* Or any large value that suits your needs */
}



/* App.css */

/* Mobile styles */
@media (max-width: 768px) {
  /* Styles for mobile view */
}

/* Desktop styles */
@media (min-width: 769px) {
  /* Styles for desktop view */
}














.button {
  position: relative;
  overflow: hidden;
  /* background-color: #00acc1; Initial color */
}

/* Animation keyframes */
@keyframes colorFlow {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 100% 0;
  }
}

/* The animated background */
.button:active {
  background: linear-gradient(90deg, #333 0%, #00acc1 50%, #333 100%);
  background-size: 200% 100%;
  animation: colorFlow 0.3s forwards;
}

/* Styling for button hover and active states */
/* .button:hover {
  background-color: #00acc1;
 
}

.button:active {
  background-color: #21a2b3;
  
} */